@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

*{
    text-align:center;
    font-size: 14px;
}

html{
    line-height:1.3;
    font-weight:400;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
}

body{
    background-color: #DEDDDB;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight:400;
    color: black;
    margin:0;
    padding-top:70px;
    width: 100%;
}



/*Style des headings*/
h1 {
    font-size: 70px !important;
    line-height: 90px;
    color: #1e73be !important ;
    font-weight: 700;
    font-family: 'Nothing You Could Do', cursive;
}

h2 {
    font-size: 70px !important;
    line-height: 90px;
    color: #ce3309 !important;
    font-weight: 700;
    font-family: 'Nothing You Could Do', cursive;
}

@media screen and (max-width: 767px){
    h1, h2 {
        font-size: 2.5rem !important;
    }
}


h3, h4 {
    font-size: 22px;
    line-height: 27px;
    font-weight:700 !important;
    font-family: Arial,sans-serif;
    color : black;
}

@media screen and (max-width: 767px){
    h3, h4 {
        font-size: 1.2rem !important;
    }
}


p{
    font-size:15px !important;
    line-height: 20px;
    font-weight:400px;
    font-family:Arial,sans-serif;
    color:black;
}


/*Logo dans le menu largeur et hauteur*/

.section-logo{
    margin-top: 15px;
    text-align:left;
    }
    
    .logo-gmc {
        width: 65px;
        height: 48px;
    }

    

/*Logo responsive en style hamburger*/

label, #toggle
{
    display: none;
}

@media all and (min-width: 992px){
label.menu-label{
    visibility :hidden;
    }

.section__inner{
    display:none;
    }

}


@media all and (max-width: 991px)
{

nav{
    height: 60px;
    }

    nav .main-nav 
    {
        display: none;
        position:inherit;
        flex-direction: column;
        width: 100px;
        /*background: white;
        height: 220px;*/
    }

    nav .main-nav a {
        width: 50%;
    }

    .main-menu{
        font-size:9px !important;
        line-height:1.7em !important;
        margin-left: 436px !important;
        padding-top: 0px !important;
    }

    .main-menu li {
        display: table;
    }

    .main-menu a {
        font-size:9px;
    }

    label 
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 84px;
        font-size: 40px;
        color: #ce3309;
        cursor: pointer;
    }

    #toggle:checked + .main-nav {
        display: flex;
    }
}


/*La nav bar*/
.main-header.is-sticky {
    box-shadow: 0 -2px 10px 0 rgba(0,0,0,.15);
}

/*Div section inner*/

.section__inner {
    display:flex;
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}



/*Le main header*/

.main-header {
    display:inline-block;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:70px;
    z-index: 3;
    background: hsla(0,0%,100%,.98);
    transition: box-shadow .25s ease 0s;
}


.main-nav {
    position: fixed;
    top: 0;
    right: 365px;
    float: right;
}

/*Le main menu*/


.main-menu {
    list-style: none;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 2em;
    padding: 1.33em 0;
    margin-left: 439px;
}

.main-menu li {
    display: inline-block;
    color:black;
}

.main-menu a {
    font-weight:600;
    cursor:pointer;
    padding: 10px;
    text-align:center;
    color:black;
    text-decoration: none;
    
}

/*.main-menu .menufont, .main-menu .menufont a{
    color: black;
}*/

.active>a.hover{
    color:#1e73be;
}

.main-menu>.active>a {
    color:#1e73be;
}

.menufont{
    color:black;
    font-size:18px;
}


/*!!!!!!!!!!!!!!!!!!!!!Page Accueil !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/*Section slider*/

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/*
.carousel-control-next, .carousel-control-prev {
    overflow: hidden;
    opacity: .99!important;
}
.carousel-control-prev-icon {
    filter: drop-shadow(32px 0px 0px #ce3309);
    transform: translate(-32px, 0px);
}

.carousel-control-next-icon {
    filter: drop-shadow(-32px 0px 0px #ce3309);
    transform: translate(32px, 0px);
}*/


/*Section Qui suis-je*/

#intro{
    background-color:#ce3309;
    background: linear-gradient(#ce3309, #1e73be);
    padding: 20px 4% 40px;
    background-repeat: no-repeat;
    width: 100%;
}


.logo-intro{
    margin-top:50px;
    margin-bottom: 25px;
    height:150px;
}

.bio{
    display:flex;
    margin:50px 60px 50px;
    justify-content:space-between;
}

@media screen and (max-width: 767px){
    .bio  {
        display:block;
        width: 100%;
        margin:0;
    }
}

.bio-wrap{
    width: 50%;
    margin-right: 30px;
    margin-left : 30px;
    
}

@media screen and (max-width: 767px){
    .bio-wrap{
        width: 100%;
        margin: 0;
    }
}

.bio-item{
    text-align: justify !important;
}

@media screen and (max-width: 767px) {
    .bio-item {
        text-align:left;
    }
}
/*Section chanteuse et comédienne*/

#chanteuse-comedienne{
    background-image: url('images/background-GMC.jpg');
    padding: 20px 4% 40px;
    background-repeat: no-repeat;
}

.chant-item{
    margin-top:50;
}

.image-chanteuse, .image-comedienne{
    height:80%;
    width:80%;
}

.wrap-btn{
    margin-top:80px;
}

.wrap-img-comedienne{
    margin-top:60px;
}

.comedie{
    margin-top: 80px;
    padding-top:40px;
}

/*style des buttons*/

.btn-secondary{
    --bs-btn-bg: #ce3309 !important;
}

.btn-secondary{
    --bs-btn-hover-bg:#9b2a0b !important;
}

.btn-primary a{
    --bs-btn-color:white !important;
    
}
.btn-group-lg>.btn, .btn-lg{
    --bs-btn-padding-x: 3rem !important;
}


/*Section album*/

#album{
    background-image: url('images/Background-GMC-2.jpg');
    padding: 20px 4% 40px;
    background-repeat: no-repeat;
}

.bck-album{
    margin-top:50px;
    align-items: center;
}

.img-album{
width: 50%;
}

.btn-achat{
    margin-top:50px;
}

/*Section reseaux sociaux*/
.wrap-reseaux{
    margin-top:50px;
}

.item-img-reseaux{
    margin-top:80px;
}

.image-reseaux{
    width:100%;
}

.icone-reseaux-sociaux{
    margin-top:50px;
}

svg {
    height: 50px;
    margin: 10px 35px 10px
}

/*Le footer*/
.main-footer{
    background-color: #ce3309;
    margin-top:40px;
    padding-bottom: 40px;
}

.section-inner-footer{
    display:flex;
    justify-content: space-between;
    margin-top:80px;
}

.section-logo-footer{
    margin-left:20% !important;
}
.logo-gmc-footer{
    height:100px;
    margin-top:50px;
    border-radius:15px;
}

.menu-footer{
    text-align:left !important;
    margin-top:50px;
}

.menu-footer-list>li{
    text-align:left !important;
    color:white;
}

.menu-footer-list a{
    color:white;
}

.contact-footer{
    margin-right:20% !important;
}
.contact-footer>p{
    text-align:left !important;
    color:white;
}

.heading-footer {
    text-align:left !important;
    margin-top:50px !important;
    color:white;    
}

@media screen and (max-width: 768px) {
    .section-inner-footer{
    display:block;
    }

    .section-logo-footer {
        margin:0 !important;
    }

    .menu-footer{
        text-align:center !important;
    }

    .menu-footer-list{
        text-align:center !important;
        padding-left:10rem;
        display: contents;
    }

    .menu-footer-list>li{
        text-align:center !important;
    }

    .contact-footer {
        margin:0 !important;
    }

    .contact-footer>p {
        text-align:center !important;
    }

    .heading-footer {
        text-align:center !important;
    }
}

/*!!!!!!!!!!!!!Page Chanteuse!!!!!!!!!!!*/

/*Image du header*/
.img-slider{
    box-sizing: border-box !important;
    width: 100% !important;
}

.video{
    margin-top:25px;
    padding-top:25px;
}

/*mise en place de l'intro*/
.intro-chant{
    padding: 20px 4% 40px;
}

/*style des images chanteuses les 3*/
.wrap-imgages-chanteuse{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.image-page-chanteuse{
    height:90%;
    border-radius: 15px;
    border: solid 2px #ce3309;
    
}

@media screen and (max-width: 768px){
    .image-page-chanteuse  {
        
        width: 85%;
        height: 95%;
        margin:0;
    }
}

@media (min-width: 768px) and (max-width: 1200px)  { 
    .image-page-chanteuse  {
        
        width: 85%;
        height: 95%;
        margin:0;
    }
}

@media screen and (min-width: 1200px){
    .image-page-chanteuse   {
        display:block;
        width: 90%;
        margin:0;
    }
}

/*@media screen and (max-width: 1200px){ 
    .image-page-chanteuse  {
        
        width: 85%;
        height: 95%;
        margin:0;
    }
}*/

/*section collaborations chant*/
#collaborations {
    background-color: #ce3309;
    padding-bottom: 40px;
}

.collab-wrap {
    display:flex;
    justify-content: space-between;
    margin: 0px 0px 0px 70px;
    padding:0;
}

@media screen and (max-width: 768px){
    .collab-wrap  {
        display:block;
        width: 90%;
        margin:0;
    }
}

@media (min-width: 768px) and (max-width: 992px)  { 
    .collab-wrap  {
        display:block;
        width: 100%;
        margin:0;
        
    }
}

.collab-heading{
    color: white !important;
    padding-top:50px;
    margin-bottom:50px;
}

.collab-h{
    color: white !important;
    padding-top:50px;
}

.collab-p{
    color: white !important;
    text-align: justify;
}

.collab-text{
    margin: 5px 0px 24px 163px
}

@media screen and (max-width: 768px){
    .collab-text{
        width: 100%;
        margin:5%;
    }
}

@media (min-width: 768px) and (max-width: 992px)  { 
    .collab-text  {
        
        display:block;
        width: 70%;
        margin:15%;
        
    }
}

.collab-img{
    margin: 5px 320px 18px 0px
}

@media screen and (max-width: 768px){
    .collab-img{
        width: 100%;
        margin:5%;
        
    }
}

@media (min-width: 768px) and (max-width: 992px)  { 
    .collab-img  {
        
        display:block;
        width: 60%;
        margin:15%;
        
    }
}


.collab-image{
    height:47%;
    margin:2%;
    border-radius:15px;
}

@media (max-width: 576px) { 
    .collab-image{
        height:100%;
        text-align:center;
        width: 40%;
        margin:0;
    }
}

@media (min-width: 576px) and (max-width: 768px){
    .collab-image{
        text-align:center;
        width: 50%;
        margin:0;
    }
}

@media (min-width: 768px) and (max-width: 992px)  { 
    .collab-image {
        
        display:block;
        width: 70%;
        margin:20%;
        
    }
}

/*@media (min-width: 992px) and (max-width: 1200px)  { 
    .collab-image  {
        
        display:block;
        width: 70%;
        margin:30%;
        
    }
}*/

/*!!!!!!!!!!!!!Page Comedienne!!!!!!!!!!!*/

/*mise en place de l'intro*/
.comedie{
    margin-top:10px;
}
.intro-comedienne{
    padding: 20px 4% 40px;
}

/*style des images*/
.wrap-imgages-comedienne{
    display: flex;
    justify-content: space-between;
}

.image-page-comedienne{
    height:70%;
    border-radius: 15px;
    border: solid 2px #ce3309;
}


@media screen and (max-width: 768px){
    .image-page-comedienne  {
        
        width: 85%;
        height: 95%;
        margin:0;
    }
}
@media (min-width: 768px) and (max-width: 1200px)  { 
    .image-page-comedienne  {
        
        width: 85%;
        height: 95%;
        margin:0;
    }
}


/*section collaborations comedie*/
#collaborations-comedie{
    background-color: #1e73be;
    padding-bottom: 40px;
}



/*!!!!!!!!!!!!!Page Contact!!!!!!!!!!!*/

.contact-form{
    margin-top:50px;
}

.form-check{
    text-align:left !important;
}

label.form-check-label{
    text-align:left !important;
}

.sexe{
    margin-top:35px !important;
}

textarea{
    width: 50%;
}

@media screen and (max-width: 768px){
    label.form-label {
        font-size:22px;
        margin:0;
        width: 100%;
        color:#1e73be
    }

    .form-check-label{
        font-size: 16px;
        margin:0;
        width: 100%;
        color:#1e73be
    }
}

/*!!!!!!!!!!!!!Page Panier!!!!!!!!!!!*/


.section-panier {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*le contenant du panier*/
.Cart-Container{
    margin-top:100px;
    width: 70%;
    height: 85%;
    background-color: #dba18a;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;

}

/*Le header du panier*/
.Header-album{
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Heading-album{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #2F3841;
}

/*le size du prix unitaire*/
.text-pu-responsive{
    font-size:18px;
    margin-right:90px;
}


/*Style des produits*/
.Cart-Item{
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-box{
    width: 15%;
    text-align: center;
}

.img-panier {
    border-radius: 5px;
}

.about{
    height: 100%;
    margin-top:100px;
}

h1.title{
    padding-top: 5px;
    line-height: 10px;
    font-size: 24px !important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: #202020;
}

.subtitle{
    line-height: 18px;
    font-size: 14px !important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #909090;
}

/*Création dy style de la partie compteur*/
.counter{
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-act-plus, .btn-act-moins{
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    background-color: #d9d9d9 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 20px !important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900 !important;
    color: #202020;
    cursor: pointer;
}

.price{
font-size: 22px;
font-weight: bold;
}

.qty{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #202020;
    width: 50px;
    border-radius:5px;
    text-align:center;
}

/*Création du style de la partie prix*/
.prices{
    font-size:20px;
    height: 100%;
    text-align: right;
    margin-top:14%;
}


.amount{
    padding-top: 20px;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: #202020;
}

#heart-ic-size, #heart-ic-sizes{
    height:40px;
}

.remove{
    padding-top: 5px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #f31010;
    cursor: pointer;
    border:none;
    background-color: transparent;
}

/*Style de la partie sous total produit*/
hr{
    width: 66%;
    float: right;
    margin-right: 5%;
    margin-bottom : 100px;
}

.checkout{
    float: right !important;
    margin-right: 5% !important;
    margin-top: 50px;
    width: 28% !important;
}

.total{
    width: 100%;
    display: flex;
    margin-left : 790px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.Subtotal{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #202020;
    
}

.items{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #909090;
    line-height: 10px;
}

.totalamount{
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #202020;
}

/*Style de la partie bouton commander*/
.button-panier{
    margin-left: 790px;
    margin-top: 5px;
    width: 100%;
    height: 40px;
    border: none;
    background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #202020;
}

/*Media queries du panier*/


@media screen and (max-width: 768px){
    .section-panier{
        height:100%;
    }

    .Cart-Container {
        margin-top: 50px;
        margin-bottom: 100px;
        padding-bottom: 100px;
        width: 80%;
        height: 100%;
        background-color: #dba18a;
        border-radius: 15px;
        box-shadow: 0px 25px 40px #1687d933;
    }


    .Header-album {
        display:block;
        margin-top:20px;
        height:10%
    }

    .text-pu{
        visibility: hidden;
    }

    .text-pu-responsive{
        font-size:18px;
        margin-right:0;
        margin-top:25px;
    }

    .image-box {
        width: 100%;
        text-align: center;
    }
    .Cart-Item{
        display:block;
        height:0%;
    }

    .about {
        height: 58%;
        margin-top:10px;
    }

    .counter{
        width: 100%;
        margin-top:40px;
    }

    .price {
        margin-top:4px;
    }

    .prices{
        text-align:center !important;
        margin-top:26px;
    }

    hr{
        display:none;
        margin:0;
    }

    .checkout {
        width:80% !important;
        margin-top:50px;
    }

    .total{
        width: 100%;
        margin-left : 5px;
        margin-bottom: 20px;
        justify-content: space-between;
    }

    .button-panier {
        margin-left:5px;
        margin-top:5px;
    }
}

@media (min-width: 768px) and (max-width: 992px)  { 
    .section-panier{
        height:100%;
    }

    .Cart-Container {
        margin-top: 50px;
        margin-bottom: 100px;
        padding-bottom: 100px;
        width: 80%;
        height: 100%;
        background-color: #dba18a;
        border-radius: 15px;
        box-shadow: 0px 25px 40px #1687d933;
    }


    .Header-album {
        display:block;
        margin-top:20px;
        height:10%
    }

    .text-pu{
        visibility: hidden;
    }

    .text-pu-responsive{
        font-size:18px;
        margin-right:0;
        margin-top:45px;
    }

    .image-box {
        width: 100%;
        text-align: center;
    }
    .Cart-Item{
        display:block;
        height:0%;
    }

    .about {
        height: 58%;
        margin-top:10px;
    }

    .counter{
        width: 100%;
        margin-top:40px;
    }

    .price {
        margin-top:4px;
    }

    .prices{
        text-align:center !important;
        margin-top:26px;
    }

    hr{
        display:none;
        margin:0;
    }

    .checkout {
        width:80% !important;
        margin-top:50px;
    }

    .total{
        width: 100%;
        margin-left : 5px;
        margin-bottom: 20px;
        justify-content: space-between;
    }

    .button-panier {
        margin-left:5px;
        margin-top:5px;
    }

}